body,html{
    height: 100%;
    background-color: #efefef;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
    box-shadow: 0px 0px 5px 0px;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

  .gfont{
    font-family: 'Bree Serif', serif;
  }

  .login{
    margin-top:5%;
    background: #337ab7;
    box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
  }

  .navbar-nav {
    background: #337ab7;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      background:transparent;
  }

  @media screen and (min-width:720px){
      nav.sidebar{
        width: 200px;
        height: 100%;
        position: fixed;
        z-index: 1002;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
        background: transparent;
      }


  }

  @media only screen and (max-width: 768px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        background:#337ab7;
    }

    table{
      font-size: 18px !important;
    }


  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 2px #fff solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #fff solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #333 !important;
    }


    nav.sidebar{
      width: 200px;
      height: 100%;
      position: fixed;
      z-index: 999;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
      background: #337ab7;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

  .navbar-default .navbar-nav>li>a {
      color: #fff;
  }

  .default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    color: #333;
}

.error {
  padding: 0px;
}

.error>li{
  color:red;
  list-style-type:none;
}

.saldo{
  color:#4caf50;
}

.jumbo-home{
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
  margin-top: 5%;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
}


/*--------------------------NUEVO INGRESO INICIO-----------------------*/

.panel-ingreso{
    background: #fff;
    border-top: 4px solid #449d44;
    padding: 10px 10px 0 10px;
    box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
    margin-top: 5%;
}

.panel-ingreso h1,.panel-gasto h1{
  font-weight: bold;
  color:#333;
  text-transform: uppercase;
}

.panel-gasto{
    background: #fff;
    border-top: 4px solid #f44336;
    padding: 10px 10px 0 10px;
    box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
    margin-top: 5%;
}

#comentario{
  resize: none;
}
/*---------------------------NUEVO INGRESO FIN-------------------------*/

/*---------------------------HISTORIAL INICIO-------------------------*/

.panel-historial{
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
}

.historial-gasto{
  background-color:red;
  color:#333;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a{
  color: #333;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #333;
    background-color: #fff;
    border-color:#337ab7  ;
}

.modal-content .modal-header{
  background-color:#c9302c;
  color:white;
}

.modelVer .modal-content .modal-header{
  background-color:#284763;
  color:white;
}


.table td {
   text-align: center;
}

.table th {
   text-align: center;
}



/*---------------------------HISTORIAL FIN-------------------------*/


/* -------------MODAL AVISO INICIO -------------*/
.circulo-icono{
  border:4px solid #4caf50;
  border-radius:50%;
  display:inline-block;
  padding:10px;
}

.circulo-icono>.glyphicon-ok{
  color:#4caf50 !important;
  font-size:70px;
}



/* -------------EDICION INGRESO GASTO------------*/


.ocultar{
  visibility: hidden;
}

/* ----------------ESTADISTICAS-------------*/
.panel-estadisticas{
  background: #fff;
  padding: 10px 10px 0 10px;
  box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
}

.panel-estadisticas-corto{
  width: 100%;

  margin-left:5px;
  background: #fff;
  padding: 10px 10px 0 10px;
  box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
}


/*-----------------LOADING GIF --------------------*/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loading {
    display:    block;
    position:   fixed;
    z-index:    998;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../image/loading.gif')
                50% 50%
                no-repeat;
    background-size: 10%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*-------------ERROR --------------------*/

.error-arrow{
  font-size:30px;
  display: block;
  margin-top: 30px;
}

.error-arrow> a{
  text-decoration: none;
}

.panel-error{
  display: block !important;
  float: none;
}

/*-------------CONFIGURACION --------------------*/

.panel-config{
  background: #fff;
  margin-top:30px;
  padding: 10px 10px 0 10px;
  box-shadow: 0px 0px 1px 1px rgba(171, 171, 171, 0.81);
}

.config-info{
  border-top: 4px solid #f44336;
}

.config-info-modificar{
  border-top: 4px solid #4caf50;
}

.titulo-config{
  font-weight: bold;
  font-size:24px;
}

.info-usuario-visible{
  display: block;
}

.info-usuario-invisible{
  display: none;
}
